/cache/*
!/cache/index.html
!/cache/.htaccess
!/cache/ezbbc/_dummy
/uploads/*
!/uploads/_dummy
!/uploads/thumbs/_dummy
/docs/*
!/docs/_dummy
/img/avatars/*.png
/img/avatars/*.jpg
/img/avatars/*.gif
/config.php
*.bak
*.old
*~