/cache/*
!/cache/index.html
!/cache/.htaccess
!/cache/ezbbc/_dummy
/rehost/i
/uploads/*.png
/uploads/*.jpg
/uploads/*.jpeg
/uploads/*.gif
/uploads/config*
/uploads/*.sh
/uploads/migration.php
/uploads/stats.php
/uploads/datas.db
/uploads/fotoo-import.php
/uploads/i/**/
/uploads/thumbs/
!/uploads/_dummy
!/uploads/thumbs/_dummy
/docs/*
!/docs/_dummy
/img/avatars/*.png
/img/avatars/*.jpg
/img/avatars/*.gif
/config.php
*.bak
*.bak.*
/style/Air/*
/style/RL_*.min.css
/plugins/rltable/*.min.css
*.js.css
*.old
*~
