/cache/*
!/cache/index.html
!/cache/.htaccess
!/cache/ezbbc/_dummy
/uploads/*.png
/uploads/*.jpg
/uploads/*.jpeg
/uploads/*.gif
/uploads/config*
/uploads/migration_*
/uploads/datas.db
/uploads/i/**/
/uploads/thumbs/
!/uploads/_dummy
!/uploads/thumbs/_dummy
/docs/*
!/docs/_dummy
/img/avatars/*.png
/img/avatars/*.jpg
/img/avatars/*.gif
/config.php
*.bak
*.old
*~
