@import url('RL_Clair.css');

html,
body {
	background: #393939;
	color: #d4d4d4;
}
#header,
#footer {
	background-color:#4E4F51;
	border-color:#242424;
}
.search-form .search-field,
.search-form .search-select {
	background: #222222 none repeat scroll 0% 0%;
	color:#c8c8c8;
}
.search-form .reset-btn,
.search-form .search-field:focus {
	background: #222222;
}
#announce-block .important {
    background-color: #513E27;
    color: #d4d4d4;
}
#announce-block .info {
    background-color: #233956;
    color: #d4d4d4;
}
#nav {
	background:#292929;
}
#nav li a {
	color:#999;
}
#nav ul.sub-menu li a {
	color:#60A0DC;
}
#nav li.highlight {
	background: #393939;
}
#nav li a:hover,
#nav li a:active,
#nav li a:focus,
#nav ul.sub-menu li a:hover,
#nav ul.sub-menu li a:active,
#nav ul.sub-menu li a:focus {
	color: #AEAEAE;
}
#content,
.pun .punwrap {
	background:#292929;
}
.slide, #content {
    box-shadow: 0px 0px 0em #000;

}
/*****************************************************************
COLOUR FLUXBB
*****************************************************************/

/* Background / Text
----------------------------------------------------------------*/

.pun .punwrap {
	color: #BFCEE3;
}
#viewprofile dd,
.pun .forminfo,
#brdfooter #modcontrols,
#adminconsole fieldset td,
.pun .blockmenu .box,
#adstats dd {
	background-color: #303030;
	}
.pun .punwrap,
.pun #viewprofile dt, #adstats dt {
    color: #939393;
}
.pun #viewprofile .box {
	background: #222222;
}

.pun legend {
	color: #60a0dc;
	}

#posterror li strong {
	color: #d4d4d4
	}

.pun .usercontent * {
	background: transparent;
	color: #d4d4d4
	}

input,
input[type="text"],
input[type="file"],
input[type="password"],
select,
.pun select,
textarea {
	background-color: #393939;
	color: #d4d4d4;
	border:1px solid #393939;
	}

.pun .multiselect,
.pun .checklist {
	color: #D4D4D4;
	}

.pun .checklist {
	border-color: #666;
	background:#393939;
	}

/* Posts
----------------------------------------------------------------*/

.pun .blockpost {
	background: #303030;
	border-color: #D9E1E7;
}
.pun .blockpost .postright {
    border-top: 1px solid #222222;
}
.pun .blockpost .box,
.pun .postright,
.pun .postfootright,
.pun .deletemsg,
.pun .blockpost .postbody,
.pun .blockpost .postfoot {
	background-color: #393939;
	}

.pun .blocktable th,
#punindex .blocktable h2,
.pun #vf h2 {
	background: #222222;
	color:#BCBCBC;
}
.pun .blocktable table {
	background: #4A4949;
}
.pun table th.tcl,
.pun table th.tc2,
.pun table th.tc3,
.pun table th.tc4,
.pun table th.tc5,
.pun table th.tcr,
.pun table th.tcmod {
    background: #222222;
}
.pun table .rowodd {
    background: #393939;
}
.pun table .roweven {
    background: #303030;
}
.pun #vf h2 {
	color: #BCBCBC;
}
.pun .postright,
.pun .postfootright {
	border-left-color: #303030;
	}
.pun .blockpost h2 {
	background-color: #222222;
	}
.pun #quickpost h2,
#punpost .blockform h2,
#punedit .blockform h2,
#posterror h2,
#pundelete .blockform h2 {
	background: #222222;
}
.pun .blockpost .postleft {
	background: #303030;
}
.pun .blockpost h2 span.conr {
	color: #a19e96;
	}
.pun .blockpost .postbody,
.pun .blockpost .postfoot {
	border-color: #303030;
}
.pun .postmsg {
	color: #D3D4D4;
}
.pun .postmsg ins,
#punhelp samp ins {
	background-color: #ff0;
	}

#punmisc #rules .box,
#punhelp .box {
	background: #303030;
}

.pun .quotebox {
	background: #393939;
	color: #C8CDD4;
}

.pun hr {
	background-color: #606060;
	color: #606060;
	}

#ezbbcsmiliesbar .smiley {
	border: 1px solid #393939;
}
.pun label, .pun legend, #adminconsole fieldset t {
    color: #58a0dc;
}

/* Admin
----------------------------------------------------------------*/
.pun .blockform .box,
#adstats,
#adintro,
.pun #adalerts,
#postpreview,
#posterror {
	background: #222222;
}
.pun #adalerts {
	background:#513e27;
}
.pun #adalerts p {
	background: #513e27;
	color:#d4d4c8;
}
.pun .infldset,
#adintro .inbox,
#adstats .inbox {
	background: #303030;
}
.pun .blockmenu .isactive a:link,
.pun .blockmenu .isactive a:visited,
.pun .blockmenu a:active {
	color: #CED2D5;
}
.pun .blockmenu .isactive a:link,
.pun .blockmenu .isactive a:visited,
.pun .blockmenu a:active,
.pun .blockmenu a:hover,
.pun .blockmenu a:focus {
	background: #222222;
}
.pun .blockmenu a:hover {
	color: #AEAEAE;
}
/* Borders
----------------------------------------------------------------*/

.pun .box {
	border-color:#393939;
	}

.pun td,
#brdfooter #modcontrols {
	border-color: #393939;
	}

.pun th {
	border-color: #484848;
	}

.pun fieldset {
	border-color: #606060;
	}

#adminconsole td,
#adminconsole th {
	border-color: #222222;
	}
#adminconsole fieldset th,
#adminconsole fieldset td {
	background: #303030;
	border-color: #393939;
}
.pun .quotebox,
.pun .codebox,
.pun .forminfo,
.pun .blockpost label,
.pun .deletemsg {
	border-color: #606060;
	}

.pun .blocktable td,
.pun .blocktable th,
.pun .blocktable .box,
.pun .blockpost h2,
.pun .blockpost .postbody,
.pun .blockpost,
.pun .blockform .box,
#adstats,
#adintro,
#adalerts,
#postpreview,
#posterror,
.pun .infldset, #adintro .inbox, #adstats .inbox,
.pun .txtarea textarea, .pun input.longinput,
#punmisc #rules .box, #punhelp .box,
#brdmenu a,
#brdmenu a:link,
#brdmenu a:visited,
.dokuwiki div.page,
#dokuwiki__sitetools a,
#dokuwiki__sitetools a:link,
#dokuwiki__sitetools a:visited {
    border-color: #222222;
}
/* Links
----------------------------------------------------------------*/

.pun a:link,
.pun a:visited,
.pun h2 a:link,
.pun h2 a:visited,
#brdmenu a:link,
#brdmenu a:visited {
	color: #AEAEAE;
	}

.pun a:hover,
.pun a:active,
.pun a:focus {
	color: #d4d4d4;
}

.pun .postmsg .postimg a:link img,
.pun .postmsg .postimg a:visited img {
	border-color: #60a0dc;
	}

.pun .postmsg .postimg a:hover img,
.pun .postmsg .postimg a:active img,
.pun .postmsg .postimg a:focus img {
	border-color: #AEAEAE;
	}

.pun h2 a:hover,
.pun h2 a:active,
#brdmenu a:hover,
#brdmenu a:active {
	background:#404040;
	}

.pun .postreport a:link,
.pun .postreport a:visited,
.pun .iclosed td.tcl a:link,
.pun .iclosed td.tcl a:visited {
	color: #888;
	}

.pun .postreport a:hover,
.pun .postreport a:active,
.pun .iclosed td.tcl a:hover,
.pun .iclosed td.tcl a:active {
	color: #aaa;
	}

.pun .maintenancelink a:link,
.pun .maintenancelink a:visited {
	color: #ff4000;
	}

.pun .maintenancelink a:hover,
.pun .maintenancelink a:active {
	color: #ff5010;
	}

/* Status Indicators
----------------------------------------------------------------*/

.pun .icon {
	border-color: #484848 #404040 #3c3c3c #444444;
	}

.pun .iredirect .icon {
	border-color: #222222 #222222 #222222 #222222;
	}

.pun .inew .icon {
	border-color: #5496d8 #4b85c0 #4377ac #4f8dcb;
	}

/*****************************************************************
COLOUR DOKUWIKI
*****************************************************************/
.dokuwiki {
	color: #939393;
}
#dokuwiki__site a:link,
#dokuwiki__site a:visited {
    color: #AEAEAE;
}
#dokuwiki__site a:hover,
#dokuwiki__site a:active,
#dokuwiki__site a:focus {
    color: #d4d4d4;
}
#dokuwiki__header,
#dokuwiki__site > .site {
	background: #292929;
}
#dokuwiki__header a {
	color: #60A0DC;
}
#dokuwiki__site .page,
#dw__toc {
	background: #313131;
	color:#D3D4D4;
}
#dokuwiki__site ul li,
.dokuwiki .aside ul li,
.dokuwiki .page ul li,
.dokuwiki .aside ul li,
.dokuwiki .page li .li,
.dokuwiki .aside li .li,
#dw__toc {
	color:#D3D4D4;
}
#dokuwiki__site th {
	background:#393939;
}
#dokuwiki__site tr:hover th {
	background:#222;
}
.dokuwiki table.inline tr:hover td {
	background-color: #393939;
}
#dokuwiki__pagetools div.tools ul:hover {
	background:#393939;
}
#dokuwiki__pagetools div.tools ul li a:active,
#dokuwiki__pagetools div.tools ul li a:focus,
#dokuwiki__pagetools div.tools ul li a:hover {
    background-color: #393939;
}
.dokuwiki .wrap_box,
.dokuwiki div.wrap_box,
.dokuwiki div.wrap_box120h,
.dokuwiki div.wrap_box200h,
.dokuwiki div.wrap_box280h,
.dokuwiki div.wrap_box320h,
.dokuwiki div.wrap_box350h {
	background: #222;
	color: #BCBCBC;
}
.dokuwiki .wrap_info {
	background:#2D271F;
}
.dokuwiki .wrap_download {
	background:#280F3C;
}
.dokuwiki .wrap_important {
	background:#002B5F;
}
.dokuwiki .wrap_alert {
	background:#00424F;
}
.dokuwiki .wrap_tip {
	background:#00075F;
}
.dokuwiki .wrap_help {
	background:#223C0F;
}
.dokuwiki .wrap_todo {
	background:#3C0F21;
}
.plugin_wrap {
	color:#888;
}
#dokuwiki__site pre,
#dokuwiki__site code,
#dokuwiki__site samp,
#dokuwiki__site kbd {
	background:#000;
	color:#888;
}
@media handheld, only screen and (max-width: 1024px) {
/**
 * Min 1200px / max __1024px__ / max 768px / max 480px
*/
	#nav {
		background:#333333;
	}
	#nav li a,
	#nav ul.sub-menu li a,

	#nav li a:hover,
	#nav li a:active,
	#nav li a:focus,
	#nav ul.sub-menu li a:hover,
	#nav ul.sub-menu li a:active,
	#nav ul.sub-menu li a:focus {
		color: #cecece;
		text-decoration:none;
	}
	.pun .blockpost {
		background: #222222;
	}
}

/* BEGIN Tableaux */
.pun .postmsg table.rl-table tr:hover {
	background: grey;
}
.pun .postmsg table.rl-table td {
	background-color: rgba(86, 86, 86, 0.6);
}
/* BEGIN Tableaux */

/* Konami */
	#tetris #upcoming { background-color: #222222; }
	#tetris #menu p, #tetris #menu p a { color: #60A0DC; }

/*Pagination*/
.pagelink:before {
	color:#d4d4d4;
}
.pagestext a,
.pagestext .spacer,
.pagepost a,
.pagepost strong,
.pagepost .spacer {
	background: #111;
	color:#d4d4d4 !important;
}
.pagepost strong{
	background: #020202;
}
.pagestext .spacer,
.pagepost .spacer {
	background:transparent;
}

/*UPLOAD SOMBRE*/
#uploads figure {
    border: 1px solid #222222;
    background: #292929;
}
#uploads .picture footer.context {
    background: rgb(44, 44, 44);
    background: rgba(255, 255, 255, 0.05);
}
#uploads ul.rotate li,
#uploads ul.rotate li a,
#uploads #resizeParent a,
#uploads p.admin a,
#uploads #albumParent a {
	color:#d4d4d4 !important;
}
#uploads #resizeParent,
#uploads p.admin, #albumParent,
#uploads ul.rotate li {
    background:#111;
}
