@import url('Global/global.css');

body,
#top-page,
#top-page a,
.pun .quotebox,
.pun #brdwelcome .conr::before {
	background: #393939;
	color:#d4d4d4;
}
a,
a:link,
#nav .sub-menu a,
/* Dokuwiki */
#dokuwiki__header a,
#dokuwiki__header h1 a {
	color:#d4d4d4;
}
a:hover,
a:visited,
a:active,
a:focus,
#nav .sub-menu a:hover,
#nav .sub-menu a:visited,
#nav .sub-menu a:active,
#nav .sub-menu a:focus,
/* Dokuwiki */
#dokuwiki__header a:hover,
#dokuwiki__header a:visited,
#dokuwiki__header a:active,
#dokuwiki__header a:focus,
#dokuwiki__header h1 a:hover,
#dokuwiki__header h1 a:visited,
#dokuwiki__header h1 a:active,
#dokuwiki__header h1 a:focus {
	color:#fff;
}
.pun .blockpost .postright a,
.pun .blockpost .postright a:link,
.dokuwiki div.page a.urlextern,
.dokuwiki div.page a.urlextern:link,
#announce-block a,
#announce-block a:link {
	color:#4CA0FF;
}
.pun .blockpost .postright a:hover,
.pun .blockpost .postright a:active,
.pun .blockpost .postright a:focus,
.pun .blockpost .postright a:visited,
.dokuwiki div.page a.urlextern:hover,
.dokuwiki div.page a.urlextern:active,
.dokuwiki div.page a.urlextern:focus,
.dokuwiki div.page a.urlextern:visited,
#announce-block a:hover,
#announce-block a:active,
#announce-block a:focus,
#announce-block a:visited {
	color:#3980D0;
}
/* BEGIN Liens vert/rouge wiki */
.dokuwiki a.wikilink1 {
	color: #0c0;
}
.dokuwiki a.wikilink2 {
	color: #ff3e04;
}
#dokuwiki__pagetools div.tools ul:hover,
#dokuwiki__pagetools div.tools ul:hover a {
	background-color: #393939;
	color:#cccccc;
}
#dokuwiki__pagetools div.tools ul li a:hover,
#dokuwiki__pagetools div.tools ul li a:active,
#dokuwiki__pagetools div.tools ul li a:focus,
#dokuwiki__pagetools div.tools ul li a:visited {
	background-color: #393939;
	color: #cccccc;
}
/* END Liens wiki */
.pun .postmsg,
/* Dokuwiki */
.dokuwiki div.page,
.dokuwiki .page li .li,
.dokuwiki .aside li .li,
.dokuwiki .page ol li,
.dokuwiki .aside ol li {
	color:#fff;
}
.pun .postsignature {
	color: #d4d4d4;
}
.pun .quotebox .quoted-origin a::after {
	color:#ccc;
}
#header {
	background-color: #242424;
}
#header a {
	color: #fff;
	text-shadow: 0px 0px 3px rgba(000, 000, 000, 0.9);
}

#brdmenu,
#footer,
#brdmenu a,
#brdmenu a:link,
#brdmenu a:visited,
/* Dokuwiki */
#dokuwiki__sitetools,
#dokuwiki__sitetools a,
#dokuwiki__sitetools a:link,
#dokuwiki__sitetools a:visited {
	background: #111;
	color:#fff;
}
#brdmenu a:hover,
/* Dokuwiki */
#dokuwiki__sitetools a:hover {
	background: #516f89;
}

*,
.pun .blocktable .box,
.pun .blocktable th,
.pun .blocktable td,
.pun .blockpost,
.pun .blockpost h2,
.pun .blockpost .postbody,
.pun .blockpost .postfoot,
.pun .blockform .box,
.pun .infldset,
#adintro,
#adstats,
#adstats .inbox,
#adintro .inbox,
#viewprofile dd,
#adstats dd,
#punmisc #rules .box,
#viewprofile .box,
#viewprofile dl,
#uploads #page,
.pun .checklist,
#register .forminfo,
#posterror,
#posterror .inbox,
/* Dokuwiki */
.dokuwiki div.page,
.dokuwiki .plugin_wrap,
#dw__toc,
hr {
	border-color: #222222;
}
.pun .postmsg hr {
	background: #222222;
}
#header,
#footer,
.pun .quotebox,
#top-page.visible,
.pun #modcontrols,
.pun .blockmenu ul,
.pun .blockmenu li {
	border-color: #242424;
}
.pun .icon {
	border-color: #484848 #404040 #3c3c3c #444444;
}
#nav,
#content,
/* .inbox, */
#brdfooternav,
.pun #brdwelcome .conr::before,
#punredirect .punwrap,
.pun .postmsg table.rl-table tr:hover,
.dokuwiki table.inline tr:hover td,
#adminconsole .blockmenu li {
	background: #292929;
}
#nav ul > li a {
	border-color:#111111;
	color: #fff;
}
/* BEGIN Alternate colors */
table .rowodd,
.pun .blockpost .postright,
.pun .blockpost .postfoot,
.pun #postpreview.blockpost,
#uploads #page,
#posterror,
/* Dokuwiki */
#mediamanager__page .file dl dt {
	background:#303030;
}
table .roweven,
.pun .blockpost,
.pun .quotebox,
#register .forminfo,
#postpreview .postbody,
#punmisc #rules .box,
#postpreview .postmsg,
#adminconsole .inbox,
/* Dokuwiki */
.dokuwiki div.page,
#mediamanager__page .file dl dd {
	background:#393939;
}
.infldset {
	background:#303030;
}
/* END Alternate colors */
.pun .blockform .box,
#adminconsole .box,
.pun #quickpost h2,
.pun #postpreview h2,
#punpost .blockform h2,
#punedit .blockform h2 {
	background-color: #222222;
}
.pun .blockpost h2 {
	background-color: #222222;
}
/* BEGIN Tableaux */
.pun .postmsg table.rl-table td,
.dokuwiki .table td {
	border-color: #222222;
}
.pun .postmsg table.rl-table td.mono-cell,
.pun .postmsg table.rl-table tr.header td,
.dokuwiki .table th {
	border-color: #242424 #222222;
}
#mediamanager__page .panelHeader,
#mediamanager__page .filelist .panelContent ul li {
	background: #292929;
	color:#999;
}
#mediamanager__page .ui-resizable-e,
#mediamanager__page .ui-resizable-e:hover {
	background-color: #888;
}
table thead,
.pun .postmsg table.rl-table td.mono-cell,
.dokuwiki table.inline th,
.dokuwiki table.inline tr:hover th,
#mediamanager__page .filelist .panelContent ul li:hover {
	background: #222222;
}
/* END Tableaux */
/* BEGIN Code */
.pun pre,
.pun code,
pre,
code,
samp,
kbd {
	background-color: #4d4033;
	border-color: #222222;
	color: #fff;
}
.dokuwiki pre,
.dokuwiki code,
.dokuwiki samp,
.dokuwiki kbd {
	background-color: #4d4033;
	/* box-shadow: inset 0 0 .5em #ccc; */
}
/* END Code */
/* BEGIN Annonces */
.important::before {
	color: #d4d4d4;
}
/* Dokuwiki */
.dokuwiki .plugin_wrap,
.dokuwiki div[class*="wrap_"],
.dokuwiki div[class*="wrap_"] li,
.dokuwiki .page [class*="wrap_"] li .li {
	color: #ccc;
}
.dokuwiki .wrap_box,
.dokuwiki div[class*="wrap_box"] {
	background-color: #303030;
}
#announce-block .info,
#uploads .meta,
#uploads p.admin,
#uploads p.info,
#uploads ul.rotate li,
#uploads #resizeParent,
#uploads #albumParent,
/* Dokuwiki */
.dokuwiki .wrap_info {
	background-color:#1c1c1c;
	border-color:#c7cfda;
}
.dokuwiki .wrap_download {
	background-color:#1c1c1c;
	border-color:#d6efc2;
}
#announce-block .important,
.pun #adalerts,
form#edit p.buttons::before,
/* Dokuwiki */
.dokuwiki .wrap_important {
	background-color:#1c1c1c;
	border-color:#ffd39f;
}
.dokuwiki .wrap_alert {
	background-color:#1c1c1c;
	border-color:#ffbcaf;
}
#posterror .inbox,
/* Dokuwiki */
.dokuwiki .wrap_tip {
	background-color:#1c1c1c;
	border-color:#fff79f;
}
.dokuwiki .wrap_help {
	background-color:#1c1c1c;
	border-color:#dcc2ef;
}
.dokuwiki .wrap_todo {
	background-color:#1c1c1c;
	border-color:#c2efdd;
}
.dokuwiki .wrap_em {
	color:#c00;
}
.pun .postmsg ins,
#punhelp samp ins,
.dokuwiki .wrap_hi {
	background-color:#797979;
}
.dokuwiki .wrap_lo {
	color:#ccc;
}
/* END Annonces */

/* BEGIN box shadow */
.slide, #content {
	/* box-shadow: 0px 0px 2px #888; */
}
#nav.fixed {
	/* box-shadow: 0px 0px 0.5em #888; */
}
/* END box shadow */

/* BEGIN Toolbar édition */
.dokuwiki div.toolbar button.toolbutton {
	background: transparent;
}
/* END Toolbar édition */

/* BEGIN Boutons clairs */
.pun a.secondary-button,
form#post p.buttons a,
form#edit p.buttons a,
#punmisc .buttons a,
#msg .inbox a,
.pun .pagepost a,
.pun .pagepost strong,
.pun .pagepost .spacer,
#uploads nav ul li a,
#nav li a.disconnect,
.pun .pagepost a[rel~="prev"]::before,
.pun .pagepost a[rel~="next"]::before,
#nav li a.disconnect {
	background:#1c1c1c;
	color:#fff;
	/* text-shadow: 0px 2px 1px rgba(255, 255, 255, .4); */
}
.pun .pagepost .spacer {
	background:transparent;
}
.pun .pagepost strong,
.pun a.secondary-button:hover,
form#post p.buttons a:hover,
form#edit p.buttons a:hover,
#punmisc .buttons a:hover,
#msg .inbox a:hover,
.pun .pagepost a:hover,
#uploads nav ul li a:hover,
#nav li a.disconnect:hover {
	background:#111;
}
/* END Boutons clairs */

/* BEGIN Input */
input[type="text"],
input[type="file"],
input[type="password"],
input[type="search"],
select,
textarea,
.pun #search .checklist,
.search-form .search-field:focus + .reset-btn,
form#login_menuG .save-pass input[type="checkbox"] + label::before {
	background-color: #393939;
	color:#ccc;
	border-color:#222222
}
#uploads input[type="text"],
#uploads input[type="file"],
#uploads input[type="password"] {
	background-color: #393939;
}
/* END Input */

/* BEGIN Uploads */
#uploads figure {
	background-color: #222222;
}
#uploads ul.rotate li a,
#uploads .meta a,
#uploads p.admin a {
	color: #939393 !important;
}
/* END Uploads */
@media (max-width: 1024px) {
	#brdmenu,
	.slide-left-toggle::after,
	.menu-forum-toggle::after,
	.menu-search-toggle::after,
	#nav,
	#nav a,
	#nav ul li,
	#nav ul li a,
	#nav ul li a:hover,
	#nav ul li a:visited,
	#nav ul li a:active,
	#nav ul li a:focus,
	#nav .sub-menu a:hover,
	#nav .sub-menu a:visited,
	#nav .sub-menu a:active,
	#nav .sub-menu a:focus,
	#nav li a.disconnect,
	#nav li a.disconnect:hover,
	.togglebox li.display.identification label,
	.togglebox li.display.identification label:hover,
	#menu-search,
	#brdmenu ul li,
	#brdmenu ul li a,
	#brdmenu ul li a:link,
	#brdmenu ul li a:hover,
	#brdmenu ul li a:visited,
	#brdmenu ul li a:focus,
	/* Uploads */
	#uploads.from-ez-toolbar #brdmenu ul,
	/* Dokuwiki */
	#dokuwiki__sitetools ul li,
	#dokuwiki__sitetools ul li a,
	#dokuwiki__sitetools ul li a:link,
	#dokuwiki__sitetools ul li a:hover,
	#dokuwiki__sitetools ul li a:visited,
	#dokuwiki__sitetools ul li a:focus {
		outline: 0;
		background: #333;
		color: #fff;
		text-shadow: none;
	}
	#nav ul.sub-menu li,
	#nav ul.sub-menu li a {
		background:#404040 !important;
		border-color:#333333;
		color:#fff;
	}
	form#login_menuG input[type="text"],
	form#login_menuG input[type="password"],
	form#login_menuG .save-pass input[type="checkbox"] + label::before,
	.search-form input[type="search"],
	.search-form select,
	.search-form .search-field:focus + .reset-btn {
		background: #444;
		color: #fff;
		border-color:#222;
	}
	.menu-left-checkbox:checked ~ #wrapper-inner #content #mobile-nav-overlay,
	.menu-search-checkbox:checked ~ #wrapper-inner .outer #content #mobile-nav-overlay,
	.menu-forum-checkbox:checked ~ #wrapper-inner .outer #content #mobile-nav-overlay {
		background-color: rgba(20, 20, 39, 0.4);
	}
}
@media (max-width: 768px) {
	.pun .blockpost {
		background: #222222;
	}
	.pun .blockpost .postleft {
		background: #393939;
	}
}
@media (max-width: 480px) {
	/* Boutons foncés */
	.pun #brdwelcome .conr a,
	.subscribelink.clearb a {
		background: #516F89;
		color: #fff;
		text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
	}
	.pun #brdwelcome .conr a:hover,
	.subscribelink.clearb a:hover {
		background: #304D66;
	}
	/* Bouton clairs */
	.pun .newtext a {
		background:#1c1c1c;
		color:#fff;
		/* text-shadow: 0px 2px 1px rgba(255, 255, 255, .4); */
	}
	.pun .newtext a:hover {
		background:#111;
	}
	#postreview .postleft{
		background: #222222;
	}
}

/* BEGIN PLUGINS */
/* Dokuwiki */
#plugin__schulzevote .votebar {
	background-color: #4e4f51;
}
/* END PLUGINS */
